body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.signup-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* STYLING FOR CHURCH CONTAINER AND CARDS */
.churches {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 31%;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.church__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.church__title {
  color: #000000;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.church__text,
.church__detail a {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.church__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.church__detail a {
  text-align: left;
}

.header {
  display: inline-block;
  width: 100%;
  height: 150px;
  display: flex;
  margin-top: -10px;
  /* background-color: rgb(173, 175, 173); */
  background-color: rgb(71, 224, 199);
  /* opacity: 0.5; */
  padding: 35px 15px 35px 15px;
  margin-left: -10px;
  /* padding-bottom: 25px; */
  align-items: center;
}

.navlinks {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-right: 10px;
}

.deletechurch {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logout {
  background-color: lightgreen;
  /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.add-note {
  width: 200px;
  padding: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}